.stats{
    color: white;
    width: 70%;
    box-shadow: white 0px 1px 4px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.stats>div{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}
.stats>div>img{
    width: 100%;
}
@media (min-width: 480px) and (max-width:1000px) {
    .stats{
        color: white;
        width: 80%;
        box-shadow: white 0px 1px 4px;
        padding-left: 0px;
        padding-right:0px ;
        box-sizing: border-box;
        margin-bottom: 50px;
        box-shadow: none;
        margin-top: -50px;
    }
    .stats>div{
        /* border: 1px solid red; */
        width: 100%;
        margin: auto;
    }
    .stats>div>img{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .stats{
        color: white;
        width: 90%;
        box-shadow: white 0px 1px 4px;
        padding-left: 0px;
        padding-right:0px ;
        box-sizing: border-box;
        margin-bottom: 50px;
        box-shadow: none;
        margin-top: -50px;
    }
    .stats>div{
        /* border: 1px solid red; */
        width: 100%;
        margin: auto;
    }
    .stats>div>img{
        width: 100%;
    }
}