* {
  padding: 0px;
  margin: 0px;
  font-family: cursive;
  /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

body {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App>div:nth-child(2){
  opacity: 0;
  animation: animate3 1s forwards linear 4s;
}
.App>div:nth-child(3){
  opacity: 0;
  animation: animate3 1s forwards linear 4s;
}
.App>div:nth-child(4){
  opacity: 0;
  animation: animate3 1s forwards linear 4s;
}
.App>div:nth-child(5){
  opacity: 0;
  animation: animate3 1s forwards linear 4s;
}
.App>div:nth-child(6){
  opacity: 0;
  animation: animate3 1s forwards linear 4s;
}
.App>div:nth-child(7){
  opacity: 0;
  animation: animate3 1s forwards linear 4s;
}
.App>div:nth-child(8){
  opacity: 0;
  animation: animate3 1s forwards linear 4s;
}
.App>div:nth-child(9){
  opacity: 0;
  animation: animate3 1s forwards linear 4s;
}
.opacity{
  opacity: 0;
  animation: animate3 1s forwards linear 3s;
}
@keyframes animate3 {
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}

#logo-base {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: black;
  background-color: black;
  text-shadow: 2px 2px #15f4c0;
  font-size: 250px;
  font-weight: 700;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate2 2s ease-in-out forwards 2s;
}

#logo {
  position: relative;

}

#logo::after {
  content: "S";
  position: absolute;
  top: 0;
  left: 0;
  color: #64ffda;
  width: 100%;
  height: 0;
  overflow: hidden;
  animation: animate1 1.9s ease-in-out forwards;
}

@keyframes animate1 {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes animate2 {
  0% {
    font-size: 250px;
    width: 100vw;
    height: 100vh;
  }
  96%{
    border: none;
    text-shadow: 2px 2px #64ffda;
  }
  100% {
    width: 40px;
    height: 40px;
    font-size: 35px;
    top: 15px;
    left: 50px;
    border: 1px solid #64ffda;
    padding: 10px;
    text-shadow: none;
  }
}
.transform{
  transform: translateY(-100px) ;
  animation: animate4 1s linear forwards 5s;
  opacity: 0;
}
@keyframes animate4 {
  0%{
    opacity: 0;
    transform: translateY(-10px) ;
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}
#navbar {
  width: 100%;
  box-shadow: rgba(15, 15, 15, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 60px 20px 60px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  background-color: black;
  z-index: 99;
  /* border:1px solid red */
}

#navbar>div {
  display: flex;
  gap: 50px;
  align-items: center;

  /* border: 1px solid red; */
}

#navbar>div>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bright-butt {
  padding: 10px 20px 10px 20px;
  background-color: black;
  color: #64ffda;
  border: 1px solid #64ffda;
}

.intro {
  /* border: 1px solid red; */
  /* color: #e6f1ff; */
  width: 80%;
  /* margin-left: 100px; */
  margin-top: 5rem;
  /* padding: 30px; */
}

.bright-text {
  color: #64ffda;
}

.cursive {
  font-family: cursive;
}

.intro>h1 {
  font-size: 60px;
  /* margin-top: 5px; */
  margin-bottom: 2px;
}

.intro>div {
  margin-top: 30px;
  width: 40%;
}

.bright-white {
  color: #e6f1ff;
}

.s-dark-text {
  color: #a8b2d1;
}

.about {
  /* border: 1px solid red; */
  width: 70%;
  margin: auto;
  /* padding: 20px; */
  margin-top: 200px;
  /* text-align: justify; */
  line-height: 30px;
}

.about>h1 {
  margin-bottom: 30px;
}

.about>div {
  /* border: 1px solid green; */
  display: flex;
  /* flex-wrap: wrap-reverse; */
  gap: 20;
  margin-top: 20px;
  justify-content: space-between;
}

.about>div>div:nth-child(1) {
  /* border: 1px solid yellow; */
  width: 70%;
  margin-right: 20px;
}

.about>div>div:nth-child(2) {
  width: 250px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: white 0px 1px 0px, white 0px 0px 8px;
}


@media (max-width: 480px) {
  #navbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 5px;
    font-size: 14px;
    /* border:1px solid red */
  }
  @keyframes animate2 {
    0% {
      font-size: 250px;
      width: 100vw;
      height: 100vh;
    }
    96%{
      border: none;
      text-shadow: 2px 2px #15f4c0;
    }
    100% {
      width: 16px;
      height: 16px;
      font-size: 20px;
      top: 10px;
      left: 2px;
      border: 1px solid #64ffda;
      padding: 10px;
      text-shadow: none;
    }
  }
  #navbar>div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  #navbar>div>div {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  .bright-butt {
    padding: 5px;
    font: 12px;
    background-color: black;
    color: #64ffda;
    border: 1px solid #64ffda;
  }
  .intro {
    /* border: 1px solid yellow; */
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* margin-left: 20px; */
    padding: 0px;
  }

  .intro>h1 {
    font-size: 25px;
  }

  .intro>div {
    margin-top: 30px;
    width: 90%;
  }

  .about {
    /* border: 1px solid yellow; */
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    line-height: 20px;
  }

  .about>div {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .about>div>div:nth-child(1) {
    width: 100%;
  }

}

@media (min-width: 480px) and (max-width:1000px) {
   #navbar {
    padding: 25px 10px;
  }
  #navbar>div {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .intro {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }

  .intro>h1 {
    font-size: 40px;
  }

  .intro>div {
    margin-top: 30px;
    width: 60%;
  }

  .about {
    width: 80%;
    margin: auto;
    margin-top: 120px;
    line-height: 20px;
  }

  .about>div {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .about>div>div:nth-child(1) {
    /* border: 1px solid yellow; */
    width: 700px;
  }
}
.hover:hover{
    cursor: pointer;
    color: #64ffda;
}
.resume>a{
  text-decoration: none;
  color: #64ffda;
}
.font{
  font-family:monospace;
}
.hover>a:hover{
  cursor: pointer;
  color: #64ffda;
}