* {
  padding: 0px;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  /* background-color: rgb(6, 24, 48); */
  background-color: black;
  
/* background: linear-gradient(rgb(6, 24, 48),#030806 ); */
}
.App{
  /* border: 1px solid white; */
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar {
  width: 100%;
  /* border: 1px solid #58f7f7ea; */
  /* box-shadow: #64ffda 0px 3px 8px; */
  /* box-shadow: #64ffda 0px 1px 4px; */
  box-shadow: rgba(15, 15, 15, 0.24) 0px 3px 8px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: white;
  padding: 30px 60px 30px 60px ;
  box-sizing: border-box;
  position: fixed;
  /* top: 1px; */
  background-color: black;
}
#navbar>div{
  display: flex;
  gap: 50px;
  align-items: center;
  
  /* border: 1px solid red; */
}
#navbar>div>div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.bright-butt{
  padding: 10px 20px 10px 20px ;
  background-color: black;
  color: #64ffda;
  border:1px solid #64ffda;
}

.intro {
  /* border: 1px solid red; */
  /* color: #e6f1ff; */
  width: 80%;
  /* margin-left: 100px; */
  margin-top: 5rem;
  /* padding: 30px; */
}

.bright-text {
  color: #64ffda;
}
.cursive{
  font-family: cursive;
}
.intro>h1 {
  font-size: 60px;
  /* margin-top: 5px; */
  margin-bottom: 2px;
}

.intro>div {
  margin-top: 30px;
  width: 40%;
}

.bright-white {
  color: #e6f1ff;
}

.s-dark-text {
  color: #a8b2d1;
}

.about {
  /* border: 1px solid red; */
  width: 70%;
  margin: auto;
  /* padding: 20px; */
  margin-top: 200px;
  /* text-align: justify; */
  line-height: 30px;
}
.about>h1{
  margin-bottom: 30px;
}
.about>div {
  /* border: 1px solid green; */
  display: flex;
  /* flex-wrap: wrap-reverse; */
  gap: 20;
  margin-top: 20px;
  justify-content: space-between;
}

.about>div>div:nth-child(1) {
  /* border: 1px solid yellow; */
  width: 70%;
  margin-right: 20px;
}

.about>div>div:nth-child(2) {
  width: 250px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  white 0px 1px 0px,  white 0px 0px 8px;
}


@media (max-width: 480px) {
  .intro {
    /* border: 1px solid yellow; */
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    /* margin-left: 20px; */
    padding: 0px;
  }

  .intro>h1 {
    font-size: 25px;
  }

  .intro>div {
    margin-top: 30px;
    width: 90%;
  }

  .about {
    /* border: 1px solid yellow; */
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    line-height: 20px;
  }

  .about>div {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .about>div>div:nth-child(1) {
    width: 100%;
  }

}

@media (min-width: 480px) and (max-width:1000px) {
  .intro {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }

  .intro>h1 {
    font-size: 40px;
  }

  .intro>div {
    margin-top: 30px;
    width: 60%;
  }

  .about {
    width: 80%;
    margin: auto;
    margin-top: 120px;
    line-height: 20px;
  }

  .about>div {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .about>div>div:nth-child(1) {
    /* border: 1px solid yellow; */
    width: 700px;
  }
}

